<div class="d-md-none">
  <div class="d-flex justify-content-end">
    <%= link_to 'home' do %>
      <i class="far fa-times-circle text-white m-4"></i>
    <% end %>
  </div>
    <h4 class="ml-5 mr-5 text-white">KI Movies</h4>
    <div class="d-flex justify-content-between pt-2">
      <h6 class="ml-4 font-weight-light text-white">HTML/CSS</h6>
      <h6 class="text-white">Ruby on Rails</h6>
      <h6 class="mr-4 text-white">Bootstrap</h6>
    </div>
  <div class="project_1 background m-3">
  </div>
  <p class="text-white m-4">
    KI Movies is a social app where users can go and express how they feel about a particular movie in the forms of rating and sharing opinions.
  </p>
  <p class="text-white m-4">
    The app also has a social feature where users can connect and network amongst themselves in the form of following
  </p>
  <div class="link_desc m-4">
      <%= link_to 'https://kimovies.herokuapp.com/', class: 'text-danger' do%>
        <span class="color">See live</span>
        <%= image_tag('link', alt: 'link logo') %>
      <% end %>
    </div>
    <div class="link_desc m-4">
      <%= link_to 'https://github.com/Kingobaino1/movie_review', class: 'text-danger' do%>
        <span class="color">See source</span>
         <i class="fab fa-github color"></i>
      <% end %>
    </div>
</div>