<div class="d-none d-md-block project h-100">
<div class="bg-dark m-5">
  <div class="d-flex justify-content-end">
    <%= link_to 'home' do %>
      <i class="far fa-times-circle text-white m-5"></i>
    <% end %>
  </div>
  <h4 class="ml-4 text-white">Movie Review App</h4>
  <div class="d-flex justify-content-between pt-2 f w">
    <h6 class="ml-4 font-weight-light text-white bg-dark pr-2 pl-2">HTML/CSS</h6>
    <h6 class="text-white bg-muted pr-2 pl-2">Ruby on Rails</h6>
    <h6 class="mr-4 text-white bg-dark pr-2 pl-2">Bootstrap</h6>
  </div>
  <div class="row m-4">
    <div class="col-6 project background b"></div>
    <div class="col-6">
      <p class="text-white m-3">
        Hello I'am a software developer, I can help you build a product, feature or a website. Look through some of my works and experience! If you like what you see and have project you want coded, don't hestitate to contact me.
      </p>
      <p class="text-white m-3">
        Hello I'am a software developer, I can help you build a product, feature or a website. Look through some of my works and experience! If you like what you see and have project you want coded, don't hestitate to contact me.
      </p>
      <div class="d-flex justify-content-between">
        <div class="link_desc m-4">
          <%= link_to 'https://kimovies.herokuapp.com/', class: 'text-danger' do%>
            <span class="color">See live</span>
            <%= image_tag('link', alt: 'link logo') %>
          <% end %>
        </div>
        <div class="link_desc m-4">
          <%= link_to 'https://github.com/Kingobaino1/movie_review', class: 'text-danger' do%>
            <span class="color">See source</span>
             <i class="fab fa-github color"></i>
          <% end %>
        </div>
    </div>
    </div>
  </div>
  </div>
</div>